// Put your custom SCSS code here
.col-lg-12.text-center img[alt="avatar"] {
  margin-bottom: 50px !important;
  display: block !important;
  margin-left: auto !important;
  margin-right: auto !important;
}
